@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  font-size: 19px;
  line-height: 1.2em;
}

@media screen and (min-width: 670px) {
  html {
    font-size: 18px;
  }
}

html,
body {
  transition: background 0ms;
}

[data-theme='light'],
[data-theme='light'] body {
  background: rgba(255, 255, 255, 1);
  color: rgba(0, 0, 0, 1);
}

[data-theme='dark'],
[data-theme='dark'] body {
  background: rgba(0, 0, 0, 1);
  color: rgba(255, 255, 255, 1);
}

[data-theme='vibrant'],
[data-theme='vibrant'] body {
  background: rgba(255, 255, 255, 1);
  color: #de0000;
}

mux-player {
  --controls-backdrop-color: rgb(0 0 0 / 0%);
}

mux-player.no-controls {
  --controls: none;
}

.transition-bg {
  transition: background 500ms;
}

.uppercase {
  letter-spacing: 0.025em;
}

.extra-tracking {
  letter-spacing: 0.5em;
}
